  :root{
    --back: #023c40;
    --blue: #0ad3ff;
    --white: #e1faf9;
  }

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins";
  background-color: var(--back);
}

body {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

.container {
  padding: 20px;
  border-radius: 20px;
  background-color: var(--blue);
  color: white;
}

.btns {
  background-color: var(--blue);
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 20px;
}

.btns button {
  padding: 10px 20px;
  border-radius: 20px;
  border: none;
  outline: none;
  box-shadow: 10px 10px 10px rgba(0, 0, 0, 0.1);
  transition: all 0.3s ease-in-out;
  cursor: pointer;
  color: var(--white);
}

.btns button:hover {
  transform: translateY(-5px);
}

.progressBar {
  width: 100%;
  height: 10px;
  background-color: black;
  margin: 20px 0;
  border-radius: 20px;
  overflow: hidden;
}

.loader {
  height: 100%;
  width: 10%;
  background: linear-gradient(90deg, #00c6ff, #0072ff);
  transition: width 0.3s ease-in-out;
}

.percentage {
  display: flex;
  justify-content: center;
  background-color: var(--blue);
  align-items: center;
}

.percentage p{
  font-weight: bold;
  color: black;
  background-color: transparent;
}
