*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Poppins";
}

body{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

button{
    padding: 1em 2em ;
    border-radius: 50px;
    border: none;
    outline: none;
    background-color: black;
    color: white;
    cursor: pointer;
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: all 0.3s ease-in-out;
}

button::after{
    content: '';
    position: absolute;
    width: 102%;
    height: 107%;
    background-image: linear-gradient(to bottom right, red, blue);
    border-radius: 50px;
    z-index: -1;
}

button:hover{
    z-index: 0;
    box-shadow: 40px 0 100px blue, -40px 0 100px red;
}